@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    body{ padding-top : 30px ;}
}
#header-color > li > a{
    color:#0F3B75;
    font-weight: bold;
}
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,.navbar-nav > li > a:hover {
    text-decoration: none;
    font-weight: bold;
    border-radius:0px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #0F3B75;
    color: #0F3B75;
    background-color: transparent !important;
}
.navbar-nav > li > a{
    border-radius:0px;
}
.navbar-header .hamburger {
    background-color: #ffffff;
}
.navbar-header .hamburger > span {
    background-color: #0F3B75;
}
.navbar-header{
    background-color: #0F3B75;
}
/* Footer CSS begins here*/
@media all {
    .footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        background-color:  #f5f5f5;
        text-align: center;
        margin-top: 60px;
    }
    .footer-block { margin: 5px 0; }
}

